@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>By turning over the operation of the car park at the RAT-Park, the property company, businesses, 
    shopping malls, hotels, municipalities and airports to concentrate on their core business. 
    RAT-Park will take care of everything from running to the rental, security, cleaning and management. 
    Either as part of a complete solution or as individual assignments. We make sure that the parking surface
    is utilized effectively and invest in bright and attractive facilities. Our starting point is that the quality 
    of the plants contribute to positive meetings and regular customers.</p>
