@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Årstaängsvägen 9,  <br />
    117 43 Stockholm<br />
    <abbr title="Phone">P:</abbr>
    073-545 42 17
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Renting:</strong> <a href="mailto:Renting@example.com">Renting@example.com</a>
</address>

<section>
    <p>
        <strong>Customer service</strong> is open as follows: Monday - Friday 08:00 to 17:00. The 3rd Thursday of the month we close 14.00.<br />

        <strong>Debit cards</strong> are open as follows: Monday - Friday 8:00 to 17:00 with lunch between noon 12-13.
    </p>
</section>
